only_test/*/*/__pycache__/
only_test/*/__pycache__/
only_test/__pycache__/*
/only_test_old
*log
*/__pycache__/*

tmp/
omnitool/*
only_test/__pycache__/__init__.cpython-313.pyc
__pycache__/

logs
only_test/__pycache__/__init__.cpython-313.pyc
step_round_*.json
